version: '2'
services:
  db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dapr_state_store
      MYSQL_USER: dapr
      MYSQL_PASSWORD: example
    ports:
      - "3306:3306"
