apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: messagebus
spec:
  type: pubsub.pulsar
  version: v1
  metadata:
  - name: host
    value: "localhost:6650"
  - name: consumerID
    value: certification3
  - name: redeliveryDelay
    value: 200ms
  - name: oauth2TokenURL
    value: https://localhost:8085/issuer1/token
  - name: oauth2ClientID
    value: foo
  - name: oauth2ClientSecret
    value: bar
  - name: oauth2Scopes
    value: openid
  - name: oauth2Audiences
    value: pulsar
  - name: oauth2TokenCAPEM
    value: "{{ .OAuth2CAPEM }}"
