apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: messagebus
spec:
  type: pubsub.pulsar
  version: v1
  metadata:
  - name: host
    value: "localhost:6650"
  - name: consumerID
    value: certification4
  - name: redeliveryDelay
    value: 200ms
  - name: certification-pubsub-topic-active.jsonschema
    value: "{\"type\":\"record\",\"name\":\"Example\",\"namespace\":\"test\",\"fields\":[{\"name\":\"ID\",\"type\":\"int\"},{\"name\":\"Name\",\"type\":\"string\"}]}"
  - name: authType
    value: oidc
  - name: oidcTokenURL
    value: https://localhost:8085/issuer1/token
  - name: oidcClientID
    value: foo
  - name: oidcClientSecret
    value: bar
  - name: oidcScopes
    value: openid
  - name: oidcAudiences
    value: pulsar
  - name: oidcTokenCAPEM
    value: "{{ .OIDCCAPEM }}"
