# ------------------------------------------------------------
# Copyright 2021 The Dapr Authors
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ------------------------------------------------------------

name: "Build, Lint, Unit Test - Linux AMD64 Only"

on:
  push:
    branches:
      - feature/*
      - gh-readonly-queue/main/*
  pull_request:
    branches:
      - main
      - feature/*
      - gh-readonly-queue/main/*
  merge_group:

jobs:
  build:
    name: Build linux_amd64 binaries
    runs-on: ubuntu-latest
    env:
      GOOS: linux
      GOARCH: amd64
      GOPROXY: https://proxy.golang.org
      GOLANGCI_LINT_VER: "v1.61.0"
    steps:
      - name: Check out code into the Go module directory
        if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
        uses: actions/checkout@v4
      - name: Set up Go
        id: setup-go
        if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
          cache: 'false'
      - name: Cache Go modules (Linux)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: linux-amd64-go-${{ steps.setup-go.outputs.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            linux-amd64-go-${{ steps.setup-go.outputs.go-version }}-
      - name: Check components-schema
        if: steps.skip_check.outputs.should_skip != 'true'
        run: make check-component-metadata-schema-diff
      - name: Check components metadata yaml up to date
        if: steps.skip_check.outputs.should_skip != 'true'
        run: make check-component-metadata
      - name: Run golangci-lint
        if: steps.skip_check.outputs.should_skip != 'true'
        uses: golangci/golangci-lint-action@v6.0.1
        with:
          version: ${{ env.GOLANGCI_LINT_VER }}
          skip-cache: true
          only-new-issues: true
          args: --timeout 15m
      - name: Run go mod tidy check diff
        if: steps.skip_check.outputs.should_skip != 'true'
        run: make modtidy-all check-mod-diff
#       - name: Run Go Vulnerability Check
#         if: steps.skip_check.outputs.should_skip != 'true'
#         run: |
#           go install golang.org/x/vuln/cmd/govulncheck@latest
#           govulncheck ./...
      - name: Run make test
        env:
          COVERAGE_OPTS: "-coverprofile=coverage.txt -covermode=atomic"
          IPFS_TEST: "1"
        if: steps.skip_check.outputs.should_skip != 'true'
        run: make test
      - name: Codecov
        if: matrix.target_arch == 'amd64' && matrix.target_os == 'linux'
        uses: codecov/codecov-action@v3
