name: Dependabot modtidy-all
on:
    pull_request:
        types: [opened, synchronize, reopened]
    
permissions:
    contents: read
    pull-requests: write

jobs:
    modtidy-all:
        if: github.actor == 'dependabot[bot]'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: '1.24'
            - name: Run go mod tidy for all modules
              run: |
                make modtidy-all
            - name: Commit and push changes
              run: |
                git config --global user.name "github-actions[bot]"
                git config --global user.email "github-actions[bot]@users.noreply.github.com"
                git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
                git add .
                git commit -m "chore(deps): run go mod tidy for all modules"
                git push -u origin HEAD:${{ github.event.pull_request.head.ref }}